body {
    margin: 0;
    font-family: Source Sans Pro,Open Sans,sans-serif;
    background-color: rgb(0, 0, 0);
}

input {
    margin-bottom: 16px;
}

#main-container {
    padding: 16px;
    background-color: rgb(17, 6, 82);
    color: white;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.75); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: rgb(22, 22, 22);
  margin: auto;
  padding: 20px;
  width: 50%;
  color: white;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: rgb(255, 255, 255);
  text-decoration: none;
  cursor: pointer;
}

#addSongForm {
    padding: 16px;
}

.modal-input {
    margin-right: auto;
    margin-left: auto;
    display: block;
    margin-top: 16px;
    margin-bottom: 16px;
    width: calc(100% - 3px);
    background-color: gray;
    border-radius: 3px;
    border: none;
    height: 16px;
    color: white;
    font-family: Source Sans Pro,Open Sans,sans-serif;
}

#header {
    display: flex;
    height: 50px;
    margin-bottom: 50px;
}

#dataHeader {
    display: block;
    margin: 0 auto;
}

#hiddenLineBreak {
    display: none;
}

@media screen and (min-width: 800px) {
    #addSongButton {
      height: 50px;
    }
    #addCommandButton {
      height: 50px;
    }
    #bpmButton {
      height: 50px;
    }
  }

@media screen and (max-width: 800px) {
  #dataHeader {
    margin-top: 50px;
  }
  #addSongButton {
    height: 80px;
  }
  #addCommandButton {
    height: 80px;
  }
  #bpmButton {
    height: 80px;
  }
  #saveBtn {
    height: 80px;
  }
}

@media screen and (max-width: 600px) {
  #hiddenLineBreak {
      display: block;
  }
}

.dataHeaderInput {
    padding-right: 16px;
    margin-left: 16px;
    height: 16px;
    margin-top: 16px;
    border: none;
    border-radius: 3px;
    padding: 3px;
    font-family: Source Sans Pro,Open Sans,sans-serif;
}

.dataHeaderLabel {
    margin-left: 16px;
}


h2 {
    flex: 1;
    font-size: 36px;
}

#addSongButton {
    margin-top: 0px;
    flex: 2;
    max-width: 250px;
    background-color: rgb(128, 0, 107);
    color: white;
    font-family: Source Sans Pro,Open Sans,sans-serif;
    font-size: 24px;
    border-radius: 30px;
    border: none;
    -webkit-appearance: none;
}

#addCommandButton {
    margin-top: 0px;
    margin-left: 16px;
    flex: 3;
    max-width: 250px;
    background-color: rgb(128, 0, 107);
    color: white;
    font-family: Source Sans Pro,Open Sans,sans-serif;
    font-size: 24px;
    border-radius: 30px;
    border: none;
    -webkit-appearance: none;
}

#bpmButton {
    margin-top: 0px;
    margin-left: 16px;
    flex: 3;
    max-width: 250px;
    background-color: rgb(128, 0, 107);
    color: white;
    font-family: Source Sans Pro,Open Sans,sans-serif;
    font-size: 24px;
    border-radius: 30px;
    border: none;
    -webkit-appearance: none;
}

.submit-button {
    margin-top: 16px;
    margin-right: auto;
    margin-left: auto;
    display: block;
    width: 100%;
    height: 50px;
    background-color: rgb(255, 255, 255);
    color: black;
    font-family: Source Sans Pro,Open Sans,sans-serif;
    font-style: bold;
    font-size: 24px;
    border: none;
    -webkit-appearance: none;
    outline: none;
    border-radius: 3px;
}

#addSongButton:active {
    transform: scale(.9);
}

#addCommandButton:active {
    transform: scale(.9);
}

#bpmButton:active {
    transform: scale(.9);
}

#hideNowPlayingCommandsButton {
    background-color: white;
    padding-right: 16px;
    margin-left: 16px;
    margin-bottom: 16px;
    border: none;
    padding: 10px;
    font-family: Source Sans Pro,Open Sans,sans-serif;
    font-style: bold;
    font-size: 16px;
    display: none;
}

#saveBtn {
    margin-left: 16px;
    padding-right: 16px;
    margin-top: 0px;
    flex: 2;
    max-width: 250px;
    background-color: rgb(128, 0, 107);
    color: white;
    font-family: Source Sans Pro,Open Sans,sans-serif;
    font-size: 24px;
    border-radius: 30px;
    border: none;
    -webkit-appearance: none;
}

#colorSelect {
    padding-right: 16px;
    margin-left: 16px;
    height: 24px;
    margin-top: 16px;
    border: none;
    border-radius: 3px;
    padding: 3px;
    font-family: Source Sans Pro,Open Sans,sans-serif;
}

#checkboxContainer {
 display: inline;
}

input[type=checkbox] {
    margin-left: 16px;
}

#timeContainer {
    display: flex;
    width: 80px;
}

#timeContainer input {
    padding: 3px;
    width: 40px;
}

#timeContainer label {
    margin-top: 16px;
}

#timeContainer input::placeholder  {
    color: #d3d3d3;
    font-size: 14px;
    text-align: center;
}

.disclaimerLabel {
    margin-bottom: 16px;
    font-size: 14px;
}

.warning-label {
    color: red;
    display: none;
    margin-top: 16px;
    margin-bottom: 16px;
}

#commandsInput {
    height: 150px;
}

#commandsInput::placeholder {
    color: #d3d3d3;
}

a {
    color: rgb(27, 137, 240);
    text-decoration: none;
}

textarea { 
    resize: none; 
}

.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
}

    /* Tooltip text */
.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;

    /* Position the tooltip text - see examples below! */
    position: absolute;
    z-index: 1;
    top: -5px;
    right: 110%;
}

    /* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
    visibility: visible;
}

.tooltip .tooltiptext::after {
    content: " ";
    position: absolute;
    top: 23%;
    left: 100%; /* To the right of the tooltip */
    margin-top: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent transparent black;
  }