body {
    margin: 0;
    font-family: Source Sans Pro,Open Sans,sans-serif;
    background-color: rgb(0, 0, 0);
}

input {
    margin-bottom: 16px;
}

#main-container {
    padding: 16px;
    background-color: rgb(17, 6, 82);
    color: white;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.75); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: rgb(22, 22, 22);
  margin: auto;
  padding: 20px;
  width: 50%;
  color: white;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: rgb(255, 255, 255);
  text-decoration: none;
  cursor: pointer;
}

#addSongForm {
    padding: 16px;
}

#songUrlInput {
    margin-right: auto;
    margin-left: auto;
    display: block;
    margin-top: 16px;
    margin-bottom: 16px;
    width: 100%;
    background-color: gray;
    border-radius: 3px;
    border: none;
    height: 16px;
    color: white;
}

#header {
    display: flex;
    height: 50px;
}

#dataHeader {
    display: block;
}

#hiddenLineBreak {
    display: none;
}

@media screen and (max-width: 800px) {
  #dataHeader {
    margin-top: 50px;
  }
}

@media screen and (max-width: 600px) {
  #hiddenLineBreak {
      display: block;
  }
}

.dataHeaderInput {
    padding-right: 16px;
    margin-left: 16px;
    height: 16px;
    margin-top: 16px;
    border: none;
    border-radius: 3px;
    padding: 3px;
}

.dataHeaderLabel {
    margin-left: 16px;
}


h2 {
    flex: 1;
    font-size: 36px;
}

#addSongButton {
    margin-top: 0px;
    flex: 2;
    max-width: 300px;
    height: 50px;
    background-color: rgb(128, 0, 107);
    color: white;
    font-family: Source Sans Pro,Open Sans,sans-serif;
    font-size: 24px;
    border-radius: 30px;
    border: none;
    -webkit-appearance: none;
    
}

#songUrlLabel {
    margin-right: 16px;
}

#submitSong {
    margin-top: 16px;
    margin-right: auto;
    margin-left: auto;
    display: block;
    width: 100%;
    height: 50px;
    background-color: rgb(255, 255, 255);
    color: black;
    font-family: Source Sans Pro,Open Sans,sans-serif;
    font-style: bold;
    font-size: 24px;
    border: none;
    -webkit-appearance: none;
    outline: none;
    border-radius: 3px;
}

#addSongButton:active {
    transform: scale(.9);
}

#disclaimerLabel {
    font-size: 14px;
}